<img src="global_electronics_logo.jpeg" alt="Global Electronics Logo" width="400" height="50">

## Company Overview
Global Electronics Retailer is a multinational corporation specializing in the sale of electronic products and accessories. The company operates numerous retail stores across various countries, catering to a diverse customer base with a wide range of products. These products include various brands and categories, all meticulously tracked and managed to ensure optimal inventory control and sales performance.

## Project Objective
The primary objective of this project is to analyze the data generated by Global Electronics Retailer's operations to gain insights into sales performance, customer behavior, product popularity, and store efficiency. This analysis will help the company to make data-driven decisions aimed at enhancing customer satisfaction, optimizing inventory management, and improving overall business performance.

## Entity Relationship Diagram

<img src="global_electronics_erd.jpeg" alt="Global Electronics ERD" width="1000" height="50">

### STEP 1: CREATING THE SCHEMA

In [11]:
%%sql
-- CREATE customers TABLE
CREATE TABLE customers (
    customer_key INT,
    gender VARCHAR(10) CHECK (gender IN ('Male', 'Female')),
    name VARCHAR(50),
    city VARCHAR(50),
    state_code VARCHAR(50),
    state VARCHAR(50),
    zip_code VARCHAR(50),
    country VARCHAR(50),
    continent VARCHAR(50),
    birthday VARCHAR(10),
PRIMARY KEY (customer_key)
);

-- CREATE products TABLE
CREATE TABLE products (
    product_key INT,
    product_name VARCHAR(100),
    brand VARCHAR(50),
    color VARCHAR(50),
    unit_cost_usd VARCHAR(10),
    unit_price_usd VARCHAR(10),
    subcategory_key INT,
    subcategory VARCHAR(50),
    category_key INT,
    category VARCHAR(50),
PRIMARY KEY (product_key)
);

-- CREATE stores TABLE
CREATE TABLE stores (
    store_key INT,
    country VARCHAR(50),
    state VARCHAR(50),
    square_meters INT,
    open_date VARCHAR(50),
PRIMARY KEY (store_key)
);

-- CREATE exchange_rates TABLE
CREATE TABLE exchange_rates (
    date DATE,
    currency CHAR(3),
    exchange REAL
);

-- CREATE sales TABLE
CREATE TABLE sales (
    order_number INT,
    line_item INT,
    order_date VARCHAR(10),
    delivery_date VARCHAR(10),
    customer_key INT,
    store_key INT,
    product_key INT,
    quantity INT,
    currency_code CHAR(3),
FOREIGN KEY (customer_key) REFERENCES customers(customer_key),
FOREIGN KEY (store_key) REFERENCES stores(store_key),
FOREIGN KEY (product_key) REFERENCES products(product_key)
);

 * postgresql://postgres:***@localhost:5432/global_electronics
(psycopg2.errors.DuplicateTable) relation "customers" already exists

[SQL: -- CREATE customers TABLE
CREATE TABLE customers (
    customer_key INT,
    gender VARCHAR(10),
    name VARCHAR(50),
    city VARCHAR(50),
    state_code CHAR(3),
    state VARCHAR(50),
    zip_code INT,
    country VARCHAR(50),
    continent VARCHAR(50),
    birthday DATE,
PRIMARY KEY (customer_key)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [100]:
%%sql
SELECT table_name
FROM information_schema.tables
WHERE table_schema != 'pg_catalog' AND table_schema != 'information_schema'

 * postgresql://postgres:***@localhost:5432/global_electronics
5 rows affected.

[('products',), ('customers',), ('stores',), ('exchange_rates',), ('sales',)]

### STEP 2: IMPORTING THE CSV FILES INTO THE SCHEMA

In [53]:
%%sql
-- import customers csv into customers table schema
COPY customers (customer_key, gender, name, city, state_code, state, zip_code, country, continent, birthday)
FROM 'C:\Program Files\PostgreSQL\16\scripts\Dataset\global_electronic_data\Customers2.csv'
DELIMITER ','
CSV HEADER;

-- import products csv into product table schema
%%sql
COPY products (product_key, product_name, brand, color, unit_cost_usd, unit_price_usd, subcategory_key, subcategory, category_key, category)
FROM 'C:\Program Files\PostgreSQL\16\scripts\Dataset\global_electronic_data\Products.csv'
DELIMITER ','
CSV HEADER;

-- import stores csv into stores table schema
%%sql
COPY stores (store_key, country, state, square_meters, open_date)
FROM 'C:\Program Files\PostgreSQL\16\scripts\Dataset\global_electronic_data\Stores.csv'
DELIMITER ','
CSV HEADER;

-- import exchange_rates csv into exchange_rates table schema   
%%sql
COPY exchange_rates (date, currency, exchange)
FROM 'C:\Program Files\PostgreSQL\16\scripts\Dataset\global_electronic_data\Exchange_Rates.csv'
DELIMITER ','
CSV HEADER;

-- import sales csv into sales table schema  
%%sql
COPY sales (order_number, line_item, order_date, delivery_date, customer_key, store_key, product_key, quantity, currency_code)
FROM 'C:\Program Files\PostgreSQL\16\scripts\Dataset\global_electronic_data\Sales.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/global_electronics
15266 rows affected.

[]

## BUSINESS OBJECTIVES AND QUESTIONS

## Identifying regional product preferences
- Find the top 3 most popular product subcategories for customers located in each continent, based on the total quantity sold, and display the subcategory name, category, and the corresponding total quantity sold for each continent.

In [182]:
%%sql
WITH temp_table AS (
    SELECT c.continent,
        p.subcategory,
        p.category,
        SUM(s.quantity) AS total_quantity
    FROM sales AS s 
    LEFT JOIN customers AS c
        ON s.customer_key = c.customer_key
    LEFT JOIN products AS p
        ON s.product_key = p.product_key
    GROUP BY c.continent, p.subcategory, p.category
),
ranked_subcategories AS (
SELECT continent,
    subcategory,
    category,
    total_quantity,
    RANK() OVER(PARTITION BY continent ORDER BY total_quantity DESC) AS rank
FROM temp_table
)
SELECT *
FROM ranked_subcategories
WHERE rank IN (1, 2, 3)

 * postgresql://postgres:***@localhost:5432/global_electronics
9 rows affected.

[('Australia', 'Movie DVD', 'Music, Movies and Audio Books', 1388, 1),
 ('Australia', 'Desktops', 'Computers', 835, 2),
 ('Australia', 'Bluetooth Headphones', 'Audio', 676, 3),
 ('Europe', 'Movie DVD', 'Music, Movies and Audio Books', 9629, 1),
 ('Europe', 'Desktops', 'Computers', 6940, 2),
 ('Europe', 'Bluetooth Headphones', 'Audio', 4486, 3),
 ('North America', 'Movie DVD', 'Music, Movies and Audio Books', 17785, 1),
 ('North America', 'Desktops', 'Computers', 12851, 2),
 ('North America', 'Bluetooth Headphones', 'Audio', 8491, 3)]

## Evaluating top-performing store-category combinations
- Identify the stores that have consistently generated the highest revenue for a specific product category during the last three years, considering the exchange rates at the time of each sale.

In [3]:
%%sql
WITH cleaned_product AS (
    SELECT product_key, product_name, REPLACE(REPLACE(unit_cost_usd, ',', ''), '$', '')::NUMERIC AS unit_cost_usd,
            REPLACE(REPLACE(unit_price_usd, '$', ''), ',', '')::NUMERIC AS unit_price_usd,
            subcategory_key, subcategory, category_key, category
    FROM products
    ),
cleaned_sales AS (
    SELECT order_number, line_item, TO_DATE(order_date, 'MM-DD-YYYY') AS order_date, customer_key, store_key, product_key, quantity, currency_code
    FROM sales
    ),
cleaned_exchange_rates AS (
    SELECT TO_DATE(date, 'MM-DD-YYYY') AS date, currency, exchange
    FROM exchange_rates
),
store_performance AS (
    SELECT cs.store_key, cp.category,
           SUM(CASE WHEN cs.currency_code = 'USD' THEN (cs.quantity*cp.unit_price_usd)
                ELSE (cs.quantity*cp.unit_price_usd)/ce.exchange
                END) AS revenue
    FROM cleaned_sales AS cs
    INNER JOIN cleaned_exchange_rates AS ce
        ON cs.order_date = ce.date AND cs.currency_code = ce.currency
    LEFT JOIN cleaned_product AS cp
        ON cs.product_key = cp.product_key
    WHERE cs.order_date >= DATE_TRUNC('month', (SELECT MAX(order_date) FROM cleaned_sales)) - INTERVAL '3 year'
    GROUP BY cs.store_key, cp.category
),
store_rank AS (
    SELECT state, country, category, revenue,
        RANK() OVER(PARTITION BY category ORDER BY revenue DESC) AS rank
    FROM store_performance AS sp
    INNER JOIN stores AS s
        ON sp.store_key = s.store_key
)
SELECT state, country, category, ROUND(revenue::NUMERIC, 2) AS revenue
FROM store_rank
WHERE rank = 2

 * postgresql://postgres:***@localhost:5432/global_electronics
8 rows affected.

[('Blaenau Gwent', 'United Kingdom', 'Audio', Decimal('61736.64')),
 ('Nevada', 'United States', 'Cameras and camcorders', Decimal('150194.41')),
 ('Connecticut', 'United States', 'Cell phones', Decimal('137385.36')),
 ('Nevada', 'United States', 'Computers', Decimal('391984.33')),
 ('Oregon', 'United States', 'Games and Toys', Decimal('19281.64')),
 ('Kansas', 'United States', 'Home Appliances', Decimal('199430.00')),
 ('West Virginia', 'United States', 'Music, Movies and Audio Books', Decimal('59542.31')),
 ('Alaska', 'United States', 'TV and Video', Decimal('140309.20'))]

INSIGHTS ðŸ’¡ðŸ’¡
â€¢ The highest revenue was generated through the online channel across all product categories. However, the physical stores listed above achieved the highest revenue for each individual product category.
â€¢ Apart from the online channel, 87.5% of the top revenue-generating stores for each product category were located in the United States, highlighting strong profitability in the U.S. market.

## Analyzing high-value customer segments
- Calculate the average customer lifetime value (total revenue generated) for each combination of gender, age group (based on birthday), and country, and display the top 5 combinations with the highest lifetime value.

In [64]:
%%sql
-- CATEGORIZING CUSTOMERS BY AGE GROUP
WITH bins AS (
    SELECT generate_series(10, 80, 10) AS lower,
           generate_series(19, 90, 10) AS upper
),
customers AS (
    SELECT customer_key,
           gender,
           country,
           (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) AS age
    FROM customers
)
SELECT
    lower AS lower_age_range,
    upper AS upper_age_range,
    COUNT(age) AS no_of_customers
FROM bins AS b
LEFT JOIN customers AS c
    ON age >= lower AND age <= upper
GROUP BY lower, upper
ORDER BY lower

 * postgresql://postgres:***@localhost:5432/global_electronics
8 rows affected.

[(10, 19, 17),
 (20, 29, 2316),
 (30, 39, 2275),
 (40, 49, 2251),
 (50, 59, 2289),
 (60, 69, 2323),
 (70, 79, 2264),
 (80, 89, 1531)]

INSIGHTS ðŸ’¡ðŸ’¡
â€¢ The relatively stable number of customers from 20 to 79 years old suggests strong and sustained engagement across a wide age range, highlighting the companyâ€™s broad appeal.
â€¢ The company maintains a significant number of older customers (70-89 years), indicating the importance of considering the needs and preferences of aging customers in product development and marketing strategies.

In [44]:
%%sql
WITH customer_temp AS (
    SELECT customer_key,
    gender,
    country,
    (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) AS age,
    CASE WHEN (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) BETWEEN 10 AND 19 THEN '<20'
         WHEN (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) BETWEEN 20 AND 29 THEN '20-29'
         WHEN (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) BETWEEN 30 AND 39 THEN '30-39'
         WHEN (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) BETWEEN 40 AND 49 THEN '40-49'
         WHEN (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) BETWEEN 50 AND 59 THEN '50-59'
         WHEN (SELECT MAX(EXTRACT(YEAR FROM (TO_DATE(order_date, 'MM-DD-YYYY')))) FROM sales) - EXTRACT(YEAR FROM birthday) BETWEEN 60 AND 90 THEN '60 and above'
         ELSE 'Outlier' END AS age_group
    FROM customers
),
cleaned_product AS (
    SELECT product_key, product_name, REPLACE(REPLACE(unit_cost_usd, ',', ''), '$', '')::NUMERIC AS unit_cost_usd,
            REPLACE(REPLACE(unit_price_usd, '$', ''), ',', '')::NUMERIC AS unit_price_usd,
            subcategory_key, subcategory, category_key, category
    FROM products
),
cleaned_sales AS (
    SELECT order_number, line_item, TO_DATE(order_date, 'MM-DD-YYYY') AS order_date, customer_key, store_key, product_key, quantity, currency_code
    FROM sales
),
cleaned_exchange_rates AS (
    SELECT TO_DATE(date, 'MM-DD-YYYY') AS date, currency, exchange
    FROM exchange_rates
),
customer_group AS (
    SELECT ct.gender, ct.country, ct.age_group,
           SUM(CASE WHEN cs.currency_code = 'USD' THEN (cs.quantity*cp.unit_price_usd)
                ELSE (cs.quantity*cp.unit_price_usd)/ce.exchange
                END) AS revenue
    FROM cleaned_sales AS cs
    INNER JOIN cleaned_exchange_rates AS ce
        ON cs.order_date = ce.date AND cs.currency_code = ce.currency
    LEFT JOIN cleaned_product AS cp
        ON cs.product_key = cp.product_key
    LEFT JOIN customer_temp AS ct
        ON cs.customer_key = ct.customer_key
    GROUP BY ct.gender, ct.country, ct.age_group
)
SELECT gender, country, age_group, ROUND(revenue::NUMERIC, 2) AS revenue
FROM customer_group
ORDER BY revenue DESC
LIMIT 5

 * postgresql://postgres:***@localhost:5432/global_electronics
5 rows affected.

[('Male', 'United States', '60 and above', Decimal('6560789.70')),
 ('Female', 'United States', '60 and above', Decimal('5784863.97')),
 ('Female', 'United States', '40-49', Decimal('2416179.58')),
 ('Female', 'United States', '20-29', Decimal('2258987.98')),
 ('Male', 'United States', '50-59', Decimal('2226946.34'))]

INSIGHTS ðŸ’¡ðŸ’¡
â€¢ The presence of both male and female customers in the '60 and above' age range among the top categories highlights the significant revenue potential from elderly customers.
â€¢ Female customers in their 20s, 40s and 60s all feature in the top revenue categories, suggesting that the companyâ€™s products or services appeal to a wide range of life stages for women.

## Monitoring store-level revenue growth trend
- Calculate the year-over-year growth rate in revenue for each store, considering the exchange rates at the time of each sale, and identify the stores that have consistently shown positive growth over the last 3 years.

In [116]:
%%sql
WITH cleaned_product AS (
    SELECT product_key, product_name, REPLACE(REPLACE(unit_cost_usd, ',', ''), '$', '')::NUMERIC AS unit_cost_usd,
            REPLACE(REPLACE(unit_price_usd, '$', ''), ',', '')::NUMERIC AS unit_price_usd,
            subcategory_key, subcategory, category_key, category
    FROM products
    ),
cleaned_sales AS (
    SELECT order_number, line_item, TO_DATE(order_date, 'MM-DD-YYYY') AS order_date, customer_key, store_key, product_key, quantity, currency_code
    FROM sales
    ),
cleaned_exchange_rates AS (
    SELECT TO_DATE(date, 'MM-DD-YYYY') AS date, currency, exchange
    FROM exchange_rates
    ),
store_performance AS (
    SELECT cs.store_key, cs.order_date,
           SUM(CASE WHEN cs.currency_code = 'USD' THEN (cs.quantity*cp.unit_price_usd)
                ELSE (cs.quantity*cp.unit_price_usd)/ce.exchange
                END) AS revenue
    FROM cleaned_sales AS cs
    INNER JOIN cleaned_exchange_rates AS ce
        ON cs.order_date = ce.date AND cs.currency_code = ce.currency
    LEFT JOIN cleaned_product AS cp
        ON cs.product_key = cp.product_key
    WHERE cs.order_date >= DATE_TRUNC('month', (SELECT MAX(order_date) FROM cleaned_sales)) - INTERVAL '3 year'
    GROUP BY cs.store_key, cs.order_date
    ),
store_yearly_rev AS (
    SELECT state AS store, EXTRACT(YEAR FROM order_date) AS year, ROUND(SUM(revenue::NUMERIC), 2) AS revenue
    FROM store_performance AS sr
    INNER JOIN stores AS s
        ON sr.store_key = s.store_key
    GROUP BY store, year
    ORDER BY store, year
    ),
store_rev_history AS (
    SELECT *, LAG(revenue) OVER(PARTITION BY store ORDER by store, year) AS prev_year_rev
    FROM store_yearly_rev
    ),
percent_growth AS (
    SELECT *, ROUND((prev_year_rev/revenue)*100, 2) AS percent_growth
    FROM store_rev_history
    WHERE prev_year_rev < revenue 
    )
SELECT *
FROM percent_growth
WHERE store IN (
    SELECT store
    FROM percent_growth
    GROUP BY store
    HAVING COUNT(store) >= 2
)

 * postgresql://postgres:***@localhost:5432/global_electronics
2 rows affected.

[('Basse-Normandie', Decimal('2019'), Decimal('59744.02'), Decimal('45831.62'), Decimal('76.71')),
 ('Basse-Normandie', Decimal('2020'), Decimal('62141.56'), Decimal('59744.02'), Decimal('96.14'))]

INSIGHTS ðŸ’¡ðŸ’¡
â€¢ Only Basse-Normandie store recorded a year-on-year growth for 2 straight years. The store had a revenue of $45831.62 in 2018, $59744.02 (76.71% growth) in 2019 and $62141.56 (96.14% growth) in 2020.
â€¢ Other stores with year-on-year growth only had it once within the 4 years of analysis or never recorded a growth at all.

## Determining localized subcategory profitability
- Find the product subcategories that have generated the highest revenue for each state, and display the subcategory name, category, state, and the corresponding total revenue.

In [100]:
%%sql
WITH cleaned_product AS (
    SELECT product_key, product_name, REPLACE(REPLACE(unit_cost_usd, ',', ''), '$', '')::NUMERIC AS unit_cost_usd,
            REPLACE(REPLACE(unit_price_usd, '$', ''), ',', '')::NUMERIC AS unit_price_usd,
            subcategory_key, subcategory, category_key, category
    FROM products
    ),
cleaned_sales AS (
    SELECT order_number, line_item, TO_DATE(order_date, 'MM-DD-YYYY') AS order_date, customer_key, store_key, product_key, quantity, currency_code
    FROM sales
    ),
cleaned_exchange_rates AS (
    SELECT TO_DATE(date, 'MM-DD-YYYY') AS date, currency, exchange
    FROM exchange_rates
),
store_performance AS (
    SELECT cs.store_key, cp.subcategory, cp.category,
           SUM(CASE WHEN cs.currency_code = 'USD' THEN (cs.quantity*cp.unit_price_usd)
                ELSE (cs.quantity*cp.unit_price_usd)/ce.exchange
                END) AS revenue
    FROM cleaned_sales AS cs
    INNER JOIN cleaned_exchange_rates AS ce
        ON cs.order_date = ce.date AND cs.currency_code = ce.currency
    LEFT JOIN cleaned_product AS cp
        ON cs.product_key = cp.product_key
    GROUP BY cs.store_key, cp.subcategory, cp.category
),
store_best_prod AS (
    SELECT state, subcategory, category, revenue,
        RANK() OVER(PARTITION BY state ORDER BY revenue DESC) AS rank
    FROM store_performance AS sp
    INNER JOIN stores AS s
        ON sp.store_key = s.store_key
)
SELECT state, subcategory, category, ROUND(revenue::NUMERIC, 0) AS revenue
FROM store_best_prod
WHERE rank = 1
ORDER BY state

 * postgresql://postgres:***@localhost:5432/global_electronics
58 rows affected.

[('Alaska', 'Desktops', 'Computers', Decimal('194475')),
 ('Arkansas', 'Desktops', 'Computers', Decimal('208479')),
 ('Armagh', 'Desktops', 'Computers', Decimal('230341')),
 ('Australian Capital Territory', 'Desktops', 'Computers', Decimal('25620')),
 ('Ayrshire', 'Desktops', 'Computers', Decimal('238593')),
 ('Basse-Normandie', 'Desktops', 'Computers', Decimal('46961')),
 ('Belfast', 'Desktops', 'Computers', Decimal('205113')),
 ('Berlin', 'Desktops', 'Computers', Decimal('127275')),
 ('Blaenau Gwent', 'Desktops', 'Computers', Decimal('172462')),
 ('Brandenburg', 'Desktops', 'Computers', Decimal('71438')),
 ('Caltanissetta', 'Water Heaters', 'Home Appliances', Decimal('23376')),
 ('Connecticut', 'Desktops', 'Computers', Decimal('258032')),
 ('Corse', 'Desktops', 'Computers', Decimal('28264')),
 ('Drenthe', 'Desktops', 'Computers', Decimal('95924')),
 ('Dungannon and South Tyrone', 'Desktops', 'Computers', Decimal('205649')),
 ('Enna', 'Desktops', 'Computers', Decimal('188503')),
 ('Fermanagh', 'Desktops', 'Computers', Decimal('84990')),
 ('Flevoland', 'Desktops', 'Computers', Decimal('76716')),
 ('Franche-ComtÃ©', 'Desktops', 'Computers', Decimal('36168')),
 ('Freie Hansestadt Bremen', 'Desktops', 'Computers', Decimal('96367')),
 ('Freistaat ThÃ¼ringen', 'Desktops', 'Computers', Decimal('127538')),
 ('Friesland', 'Desktops', 'Computers', Decimal('97835')),
 ('Groningen', 'Desktops', 'Computers', Decimal('68871')),
 ('Hamburg', 'Desktops', 'Computers', Decimal('142120')),
 ('Hawaii', 'Desktops', 'Computers', Decimal('169562')),
 ('Hessen', 'Televisions', 'TV and Video', Decimal('98214')),
 ('Idaho', 'Desktops', 'Computers', Decimal('181518')),
 ('Iowa', 'Desktops', 'Computers', Decimal('173914')),
 ('Kansas', 'Desktops', 'Computers', Decimal('233679')),
 ('La RÃ©union', 'Desktops', 'Computers', Decimal('51835')),
 ('Limousin', 'Desktops', 'Computers', Decimal('25003')),
 ('Maine', 'Desktops', 'Computers', Decimal('252154')),
 ('Martinique', 'Desktops', 'Computers', Decimal('22262')),
 ('Mayotte', 'Desktops', 'Computers', Decimal('46500')),
 ('Montana', 'Desktops', 'Computers', Decimal('216612')),
 ('Nebraska', 'Desktops', 'Computers', Decimal('269945')),
 ('Nevada', 'Desktops', 'Computers', Decimal('248245')),
 ('New Hampshire', 'Desktops', 'Computers', Decimal('241222')),
 ('New Mexico', 'Desktops', 'Computers', Decimal('197794')),
 ('Newfoundland and Labrador', 'Desktops', 'Computers', Decimal('163183')),
 ('North Down', 'Desktops', 'Computers', Decimal('265533')),
 ('Northern Territory', 'Televisions', 'TV and Video', Decimal('4195')),
 ('Northwest Territories', 'Desktops', 'Computers', Decimal('197377')),
 ('Nunavut', 'Desktops', 'Computers', Decimal('116329')),
 ('Online', 'Desktops', 'Computers', Decimal('2162438')),
 ('Oregon', 'Desktops', 'Computers', Decimal('206263')),
 ('Pesaro', 'Desktops', 'Computers', Decimal('200709')),
 ('Saarland', 'Desktops', 'Computers', Decimal('62991')),
 ('Sachsen-Anhalt', 'Desktops', 'Computers', Decimal('113782')),
 ('South Carolina', 'Desktops', 'Computers', Decimal('221574')),
 ('South Dakota', 'Desktops', 'Computers', Decimal('132036')),
 ('Tasmania', 'Televisions', 'TV and Video', Decimal('62186')),
 ('Utah', 'Desktops', 'Computers', Decimal('139304')),
 ('Victoria', 'Desktops', 'Computers', Decimal('81899')),
 ('Washington DC', 'Desktops', 'Computers', Decimal('225507')),
 ('West Virginia', 'Desktops', 'Computers', Decimal('238931')),
 ('Western Australia', 'Desktops', 'Computers', Decimal('58807')),
 ('Wyoming', 'Desktops', 'Computers', Decimal('203545'))]

INSIGHTS ðŸ’¡ðŸ’¡
â€¢ Desktops sold highest in over 93% of the stores. This is followed by Televisions (5%) and Water Heaters (2).
â€¢ This suggests that the company's most-demanded product are Desktops, but with such a high reliance on Desktops, there may be an opportunity for the company to diversify its product offerings to reduce dependence on a single product category.

## Identifying truly loyal customer base
- Identify the customers who have made purchases from at least 7 stores within a specific country, and display their name, country, and the total amount spent across all stores in that country.

In [97]:
%%sql
WITH customer_agg AS (
    SELECT customer_key, COUNT(distinct store_key) as stores_visited
    FROM sales 
    GROUP BY customer_key
),
cleaned_product AS (
    SELECT product_key, product_name, REPLACE(REPLACE(unit_cost_usd, ',', ''), '$', '')::NUMERIC AS unit_cost_usd,
            REPLACE(REPLACE(unit_price_usd, '$', ''), ',', '')::NUMERIC AS unit_price_usd,
            subcategory_key, subcategory, category_key, category
    FROM products
),
sales_agg_by_cust AS (
    SELECT c.customer_key, c.name, c.country, SUM(s.quantity*cp.unit_price_usd) AS total_amount_spent
    FROM sales AS s
    LEFT JOIN cleaned_product AS cp
        ON s.product_key = cp.product_key
    LEFT JOIN customers AS c
        ON s.customer_key = c.customer_key
    GROUP BY c.customer_key, c.name, c.country
)
SELECT ca. customer_key, sabc.name, sabc.country, ca.stores_visited, '$'|| ROUND(sabc.total_amount_spent::DECIMAL, 0) AS total_amount_spent
FROM customer_agg AS ca
INNER JOIN sales_agg_by_cust AS sabc
    USING(customer_key)
WHERE ca.stores_visited >= 8
ORDER BY sabc.total_amount_spent DESC

 * postgresql://postgres:***@localhost:5432/global_electronics
16 rows affected.

[(1702221, 'Matthew Flemming', 'United States', 8, '$61872'),
 (1579183, 'Paul Warren', 'United States', 8, '$35780'),
 (1523982, 'Robert Nelsen', 'United States', 8, '$29009'),
 (1925694, 'Fabrice Lamoureux', 'United States', 8, '$26339'),
 (1388023, 'David Breton', 'United States', 8, '$25237'),
 (1328055, 'Robert Smith', 'United States', 8, '$24736'),
 (2034922, 'Aubrey Audet', 'United States', 8, '$23992'),
 (1268661, 'Michael Whitehurst', 'United States', 8, '$20814'),
 (1610098, 'Sara Christensen', 'United States', 8, '$20458'),
 (2080484, 'Delmer Martinez', 'United States', 8, '$19536'),
 (1521733, 'Lisa Sherman', 'United States', 8, '$17474'),
 (2014226, 'Theodor Kristoffersen', 'United States', 8, '$16772'),
 (1349131, 'Katherine Rosales', 'United States', 8, '$16479'),
 (1224615, 'Paula Barker', 'United States', 8, '$12659'),
 (1397271, 'Yesenia Chivers', 'United States', 8, '$10502'),
 (1737466, 'Christina Miller', 'United States', 8, '$4817')]

INSIGHTS ðŸ’¡ðŸ’¡
â€¢ These 16 customers have visited at least 8 different stores to make an order. These customers can be said to be most loyal customers.

## Optimizing average order value drivers
- Calculate the average order value (total order amount divided by the number of items) and display the top 5 and bottom 5 stores with the highest and lowest average order values respectively.

In [129]:
%%sql
WITH cleaned_product AS (
    SELECT product_key, product_name, REPLACE(REPLACE(unit_cost_usd, ',', ''), '$', '')::NUMERIC AS unit_cost_usd,
            REPLACE(REPLACE(unit_price_usd, '$', ''), ',', '')::NUMERIC AS unit_price_usd,
            subcategory_key, subcategory, category_key, category
    FROM products
),
cleaned_sales AS (
    SELECT order_number, customer_key, TO_DATE(order_date, 'MM-DD-YYYY') AS order_date, store_key, product_key, quantity, currency_code    
    FROM sales
),
cleaned_exchange_rates AS (
    SELECT TO_DATE(date, 'MM-DD-YYYY') AS date, currency, exchange
    FROM exchange_rates
),
orders AS (
    SELECT cs.order_number, s.state,
           SUM(CASE WHEN cs.currency_code = 'USD' THEN (cs.quantity*cp.unit_price_usd)
                ELSE (cs.quantity*cp.unit_price_usd)/ce.exchange
                END) AS revenue,
            SUM(quantity) AS total_quantity
    FROM cleaned_sales AS cs
    INNER JOIN cleaned_exchange_rates AS ce
        ON cs.order_date = ce.date AND cs.currency_code = ce.currency
    LEFT JOIN cleaned_product AS cp
        USING(product_key)
    LEFT JOIN stores AS s
        USING(store_key) 
    GROUP BY cs.order_number, s.store_key
),
store_group AS (
    SELECT state AS store, SUM(revenue) AS store_total_revenue, SUM(total_quantity) AS store_total_quantity
    FROM orders AS og
    GROUP BY state
),
performance AS (
    SELECT store, '$'|| ROUND(store_total_revenue::DECIMAL/store_total_quantity, 0) AS avg_order_value
    FROM store_group
    ORDER BY avg_order_value DESC
),
best_performing AS (
    SELECT *
    FROM performance
    ORDER BY avg_order_value DESC
    LIMIT 5
),
least_performing AS (
    SELECT *
    FROM performance
    ORDER BY avg_order_value ASC
    LIMIT 5
)
SELECT *, 'Best-Performing' AS performance
FROM best_performing
UNION ALL
SELECT '--------', '------', '-----------------'
UNION ALL
SELECT *, 'Least-Performing'
FROM least_performing

 * postgresql://postgres:***@localhost:5432/global_electronics
11 rows affected.

[('Mayotte', '$422', 'Best-Performing'),
 ('Belfast', '$397', 'Best-Performing'),
 ('North Down', '$367', 'Best-Performing'),
 ('Fermanagh', '$365', 'Best-Performing'),
 ('Ayrshire', '$363', 'Best-Performing'),
 ('--------', '------', '-----------------'),
 ('Northern Territory', '$181', 'Least-Performing'),
 ('Australian Capital Territory', '$199', 'Least-Performing'),
 ('Nunavut', '$202', 'Least-Performing'),
 ('Western Australia', '$202', 'Least-Performing'),
 ('Northwest Territories', '$208', 'Least-Performing')]

## Princing Statistics
- Find the total number of products with unit prices higher than the average for their respective categories.

In [130]:
%%sql
WITH cleaned_product AS (
    SELECT product_key, product_name, REPLACE(REPLACE(unit_cost_usd, ',', ''), '$', '')::NUMERIC AS unit_cost_usd,
            REPLACE(REPLACE(unit_price_usd, '$', ''), ',', '')::NUMERIC AS unit_price_usd,
            subcategory_key, subcategory, category_key, category
    FROM products
    ),
total_products AS (
    SELECT product_key, product_name, category, unit_price_usd
    FROM cleaned_product AS csp1
    WHERE unit_price_usd >
    (SELECT AVG(unit_price_usd) FROM cleaned_product AS csp2 WHERE csp1.category_key = csp2.category_key)
    ORDER BY unit_price_usd DESC
)
SELECT COUNT(*) AS higher_priced_products,
        (SELECT COUNT(*) FROM PRODUCTS) AS total_no_of_products,
        COUNT(*)*100/(SELECT COUNT(*) FROM PRODUCTS)||'%' AS percentage
FROM total_products

 * postgresql://postgres:***@localhost:5432/global_electronics
1 rows affected.

[(900, 2517, '35%')]

## LIMITATION OF THE DATASET
- Delivery date could not be used in the analysis due to a large number of null values.